In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

In [3]:
engine = create_engine('mysql+mysqlconnector://root:@localhost/m5-forecast')

with engine.connect() as connection:
    connection.execute(text("ROLLBACK"))

In [32]:
data = pd.read_csv('./sales_train_sql.csv')

In [34]:
data = data[['store_id', 'state_id']]
data = data.drop_duplicates().reset_index(drop=True)
data

  store_id state_id
0     CA_1       CA
1     TX_1       TX
2     WI_1       WI

In [30]:
data = data[['item_id', 'dept_id', 'cat_id']]
data = data.drop_duplicates().reset_index(drop=True)
data

          item_id    dept_id   cat_id
0   HOBBIES_1_001  HOBBIES_1  HOBBIES
1   HOBBIES_1_002  HOBBIES_1  HOBBIES
2   HOBBIES_1_003  HOBBIES_1  HOBBIES
3   HOBBIES_1_004  HOBBIES_1  HOBBIES
4   HOBBIES_1_005  HOBBIES_1  HOBBIES
5   HOBBIES_1_006  HOBBIES_1  HOBBIES
6   HOBBIES_1_007  HOBBIES_1  HOBBIES
7   HOBBIES_1_008  HOBBIES_1  HOBBIES
8   HOBBIES_1_009  HOBBIES_1  HOBBIES
9   HOBBIES_1_010  HOBBIES_1  HOBBIES
10  HOBBIES_1_011  HOBBIES_1  HOBBIES
11  HOBBIES_1_012  HOBBIES_1  HOBBIES
12  HOBBIES_1_013  HOBBIES_1  HOBBIES
13  HOBBIES_1_014  HOBBIES_1  HOBBIES
14  HOBBIES_1_015  HOBBIES_1  HOBBIES
15  HOBBIES_1_016  HOBBIES_1  HOBBIES
16  HOBBIES_1_017  HOBBIES_1  HOBBIES
17  HOBBIES_1_018  HOBBIES_1  HOBBIES
18  HOBBIES_1_019  HOBBIES_1  HOBBIES
19  HOBBIES_1_020  HOBBIES_1  HOBBIES
20  HOBBIES_1_021  HOBBIES_1  HOBBIES
21  HOBBIES_1_022  HOBBIES_1  HOBBIES
22  HOBBIES_1_023  HOBBIES_1  HOBBIES
23  HOBBIES_1_024  HOBBIES_1  HOBBIES
24  HOBBIES_1_025  HOBBIES_1  HOBBIES
25  HOBBIES_1_026  HOBBIES_1  HOBBIES
26  HOBBIES_1_027  HOBBIES_1  HOBBIES
27  HOBBIES_1_028  HOBBIES_1  HOBBIES
28  HOBBIES_1_029  HOBBIES_1  HOBBIES
29  HOBBIES_1_030  HOBBIES_1  HOBBIES
30  HOBBIES_1_031  HOBBIES_1  HOBBIES
31  HOBBIES_1_032  HOBBIES_1  HOBBIES
32  HOBBIES_1_033  HOBBIES_1  HOBBIES
33  HOBBIES_1_034  HOBBIES_1  HOBBIES
34  HOBBIES_1_035  HOBBIES_1  HOBBIES
35  HOBBIES_1_036  HOBBIES_1  HOBBIES
36  HOBBIES_1_037  HOBBIES_1  HOBBIES
37  HOBBIES_1_038  HOBBIES_1  HOBBIES
38  HOBBIES_1_039  HOBBIES_1  HOBBIES
39  HOBBIES_1_040  HOBBIES_1  HOBBIES
40  HOBBIES_1_041  HOBBIES_1  HOBBIES
41  HOBBIES_1_042  HOBBIES_1  HOBBIES
42  HOBBIES_1_043  HOBBIES_1  HOBBIES
43  HOBBIES_1_044  HOBBIES_1  HOBBIES
44  HOBBIES_1_045  HOBBIES_1  HOBBIES
45  HOBBIES_1_046  HOBBIES_1  HOBBIES
46  HOBBIES_1_047  HOBBIES_1  HOBBIES
47  HOBBIES_1_048  HOBBIES_1  HOBBIES
48  HOBBIES_1_049  HOBBIES_1  HOBBIES
49  HOBBIES_1_050  HOBBIES_1  HOBBIES

In [4]:
id_vars = ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']

# 2. Transform from Wide to Long
# This will turn d_1, d_2... into rows under a 'day' column
data_long = data.melt(
    id_vars=id_vars, 
    var_name='day', 
    value_name='sales_units'
)

# 3. (Optional) Convert 'day' to a cleaner integer format
# 'd_1' becomes 1
data_long['day'] = data_long['day'].str.replace('d_', '').astype(int)

In [35]:
data.to_sql(
    'stores',  
    con=engine, 
    if_exists='append', 
    index=False, 
    chunksize=10000,  # Sends 10,000 rows at a time
    method='multi'    # More efficient for many databases (like PostgreSQL/MySQL)
)

3

In [17]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Configuración
n_products = 50 
n_stores = 3
start_date = datetime(2026, 1, 1)
days_in_month = 31

# 1. GENERAR CALENDAR.CSV ACTUALIZADO
calendar_data = []
for i in range(days_in_month):
    date = start_date + timedelta(days=i)
    
    # Simulación de eventos
    event1_n, event1_t = np.nan, np.nan
    event2_n, event2_t = np.nan, np.nan
    
    if i == 0: # 1 de enero
        event1_n, event1_t = 'NewYear', 'National'
    elif i == 18: # Ejemplo de coincidencia (MLK Day + Evento ficticio)
        event1_n, event1_t = 'MartinLutherKingDay', 'National'
        event2_n, event2_t = 'OrthodoxChristmas', 'Religious'
    
    calendar_data.append({
        'date': date.strftime('%Y-%m-%d'),
        'wm_yr_wk': 11600 + (date.isocalendar()[1]),
        'weekday': date.strftime('%A'),
        'wday': (date.weekday() + 2) % 7 or 7,
        'month': date.month,
        'year': date.year,
        'd': f'd_{i+1}',
        'event_name_1': event1_n,
        'event_type_1': event1_t,
        'event_name_2': event2_n,
        'event_type_2': event2_t,
        'snap_CA': np.random.choice([0, 1]),
        'snap_TX': np.random.choice([0, 1]),
        'snap_WI': np.random.choice([0, 1])
    })
df_calendar = pd.DataFrame(calendar_data)

# 2. GENERAR SALES_TRAIN_MELTED.CSV (Mantiene estructura previa)
sales_data = []
product_ids = [f'HOBBIES_1_{str(i).zfill(3)}' for i in range(1, n_products + 1)]
stores = ['CA_1', 'TX_1', 'WI_1']

for store in stores:
    state = store.split('_')[0]
    for prod in product_ids:
        full_id = f'{prod}_{store}_validation'
        for i in range(days_in_month):
            sales_data.append({
                'id': full_id, 'item_id': prod, 'dept_id': 'HOBBIES_1',
                'cat_id': 'HOBBIES', 'store_id': store, 'state_id': state,
                'd': f'd_{i+1}', 'sales': np.random.poisson(lam=1)
            })
df_sales_melted = pd.DataFrame(sales_data).iloc[:10000]

# 3. GENERAR SELL_PRICES.CSV
price_data = []
for store in stores:
    for prod in product_ids:
        base_price = np.random.uniform(2, 20)
        for week in df_calendar['wm_yr_wk'].unique():
            price_data.append({
                'store_id': store, 'item_id': prod, 'wm_yr_wk': week,
                'sell_price': round(base_price, 2)
            })
df_prices = pd.DataFrame(price_data).iloc[:10000]

# Guardar
df_calendar.to_csv('calendar_sql.csv', index=False)
df_sales_melted.to_csv('sales_train_sql.csv', index=False)
df_prices.to_csv('sell_prices_sql.csv', index=False)

print("Archivos generados con las columnas de eventos adicionales.")

Archivos generados con las columnas de eventos adicionales.